table {
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
table td, th {
    border: 1px solid blueviolet;
    padding: 10px;
    
}
img {
    width: 100px;
    height: 100px;
}
.update {
    margin-left: 10px;
}