/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}
.container {
    margin-left: 5%;
    margin-right: 5%;
}
.common-form {
    width: 300px;
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.form-input {
    height: 35px;
    margin-bottom: 20px;
    border-radius: 2rem;
    padding-left: 10px;
    border: 1px solid blueviolet;
}
.form-button {
    height: 35px;
    border-radius: 2rem;
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border: 5px;
}